@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: #f8f9fd;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background: #d7d7d7;
   border-radius: 10px;
   border: 2px solid #f8f9fd;
}

::-webkit-scrollbar-thumb:hover {
   transition: cubic-bezier(0.645, 0.045, 0.355, 1);
   background: #bfbfbf;
}

* {
   font-family: 'Poppins';
}

.heading {
   font-family: 'Montserrat', serif;
   font-weight: 700;
}

.heading2 {
   font-family: 'Montserrat', serif;
   font-weight: 600;
}

p {
   font-family: 'Poppins', serif;
}

/* tesitimonial section carousal effect */
.slick-center .card {
   transform: scale(1);
   opacity: 1;
}

.slick-slide:not(.slick-center) .card {
   transform: scale(0.9);
   opacity: 0.5 !important;
}

/* making the empower section responsive */

@media screen and (max-width: 600px) {
   .empower-img-div {
      display: none;
   }
   .arrow-image {
      display: none;
   }
   .empower-text {
      height: fit-content;
      padding: 20px;
   }
   /* .slick-prev{
        left: 10px !important;
      } */

   /* testimonial section responsive */
   .slick-slide:not(.slick-center) .card {
      transform: scale(1);
      opacity: 1;
   }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
   .skills-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5;
      place-content: center;
   }
}
